.login {
    width: 350px;
    margin: 100px auto;
}

.erro {
    color: red;
    font-size: 12px;
    padding: 1%;
}

.form-submit {
    display: inline;
    padding: 1%;
}

.card .category, .card label {
    color: black;
}