<swal
  #deletarProcedimentoSwal
  title="Apagar Procedimento"
  
  [showCancelButton]="true"
  [confirmButtonClass]="'btn btn-fill btn-success'"
  [confirmButtonText]="'Sim'"
  [cancelButtonText]="'Não'"
>
<div *swalPartial="swalTargets.content">
    Tem certeza de que deseja apagar este procedimento?
</div>
</swal>
<swal
  #deletarClinicaSwal
  title="Apagar Clinica"
  
  [showCancelButton]="true"
  [confirmButtonClass]="'btn btn-fill btn-success'"
  [confirmButtonText]="'Sim'"
  [cancelButtonText]="'Não'"
>
<div *swalPartial="swalTargets.content">
    Tem certeza de que deseja apagar esta Clinica?
</div>
</swal>
<swal
  #procedimentosSwal
  title="Cadastrar Procedimento"
  [confirmButtonClass]="'btn btn-fill btn-success'"
  (confirm)="cadastrarProcedimento()"
  [options]="{ showLoaderOnConfirm: true }"
>
  <form *swalPartial="swalTargets.content" [formGroup]="procedimentoGroup">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Nome do Procedimento</label>
          <input
            type="text"
            required
            name="nomeProcedimento"
            placeholder="Nome do Procedimento"
            class="form-control"
            formControlName="nome"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Valor do Procedimento</label>
          <input
            type="number"
            required
            name="valorProcedimento"
            placeholder="Valor do Procedimento"
            class="form-control"
            formControlName="valor"
          />
        </div>
      </div>
    </div>
  </form>
  <ng-container *swalPartial="swalTargets.confirmButton">
    Cadastrar
  </ng-container>
</swal>
<swal
  #edicaoSwal
  title="Editar Procedimento"
  [confirmButtonClass]="'btn btn-fill btn-success'"
  [options]="{ showLoaderOnConfirm: true }"
>
  <form *swalPartial="swalTargets.content" [formGroup]="procedimentoGroup">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Nome do Procedimento</label>
          <input
            type="text"
            required
            name="nomeProcedimento"
            placeholder="Nome do Procedimento"
            class="form-control"
            formControlName="nome"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Valor do Procedimento</label>
          <input
            type="number"
            required
            name="valorProcedimento"
            placeholder="Valor do Procedimento"
            class="form-control"
            formControlName="valor"
          />
        </div>
      </div>
    </div>
  </form>
  <ng-container *swalPartial="swalTargets.confirmButton">
    Salvar
  </ng-container>
</swal>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title pull-left">Clínicas</h4>
            <div class="pull-right">
              <a [routerLink]="'inativos/'" *ngIf="!inativo">
                <button class="btn btn-primary btn-fill">
                    <span><i class="pe-7s-users"></i></span>
                    <span>Inativos</span>
                  </button>
              </a>
              <a [routerLink]="'/admin/clinicas/'" *ngIf="inativo">
                <button class="btn btn-primary btn-fill">
                    <span><i class="pe-7s-users"></i></span>
                    <span>Ativos</span>
                  </button>
              </a>
              <a [routerLink]="'adicionar/'">
                <button class="btn btn-success btn-fill">
                  <span><i class="pe-7s-add-user"></i></span>
                  <span>Cadastrar Clínica</span>
                </button>
              </a>
            </div>
          </div>
          <div class="content table-responsive ">
            <ngx-spinner
              bdColor="rgba(0,0,0,0.0)"
              size="medium"
              color="#3498db"
              type="ball-clip-rotate"
            ></ngx-spinner>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12 filtros">
                <form class="form-inline" [formGroup]="filtroGroup">
                  <div class="form-group">
                    <label for="estado">Estado: </label>
                    <br>
                    <select
                      name="estado"
                      id="estado"
                      class="form-control"
                      formControlName="estado"
                    >
                      <option value="selecione" disabled selected
                        >Selecione um estado</option
                      >
                      <option [ngValue]="{ nome: 'todos' }">Todos</option>
                      <option *ngFor="let estado of estados" [ngValue]="estado">
                        {{ estado.sigla + "-" + estado.nome }}</option
                      >
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="cidade">Cidade: </label>
                    <br>
                    <select
                      name="cidade"
                      id="cidade"
                      class="form-control"
                      formControlName="cidade"
                    >
                      <option value="selecione" disabled selected>{{
                        cidadeOpcao
                      }}</option>
                      <option *ngFor="let cidade of cidades" [ngValue]="cidade">
                        {{ cidade.nome }}</option
                      >
                    </select>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                    <label for="pesquisa">Nome:</label>
                    <br>
                    <input
                    name="pesquisa"
                    id="pesquisa"
                    class="form-control"
                    placeholder="Pesquisar"
                    formControlName="pesquisa"
                    style="min-width:100%"
                  />
                  </div>
                </div>
                </form>
              </div>
            </div>
            <table class="table table-hover table-stripped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Endereço</th>
                  <th>CNPJ</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let clinica of filtros; let i = index"
                  [attr.data.index]="i"
                  data-toggle="collapse"
                >
                  <tr (click)="collapse(i)" class="accordion-toggle">
                    <td>{{ clinica.name }}</td>
                    <td>{{ clinica.endereco }}</td>
                    <td>{{ clinica.cnpj }}</td>
                    <td>
                      <a (click)="abrirEdicao(clinica.id); $event.stopPropagation();">
                        <button
                          class="btn btn-primary btn-fill"
                          name="editar"
                          aria-label="editar"
                        >
                          <i class="pe-7s-pen"></i>
                        </button>
                      </a>
                      <a (click)="abrirModalDeletarClinica(clinica.id); $event.stopPropagation();" *ngIf="inativo">
                          <button
                            class="btn btn-danger btn-fill"
                            name="apagar"
                            aria-label="apagar"
                          >
                            <i class="pe-7s-trash"></i>
                          </button>
                        </a>
                    </td>
                  </tr>
                  <tr *ngIf="clinica.collapsed">
                    <td colspan="4">
                      <div class="row">
                        <div class="col-md-4 pull-right">
                          <button
                            class="btn btn-success btn-fill"
                            (click)="abrirModal(clinica); $event.stopPropagation();"
                          >
                            <i class="pe-7s-note2"></i>Cadastrar Procedimento
                          </button>
                        </div>
                        <div
                          class="align-self-center collapse in"
                          *ngIf="clinica.procedimentos.length == 0"
                        >
                          Não há procedimentos cadastrados
                        </div>
                      </div>
                      <div
                        class="collapse in row"
                        *ngFor="let procedimento of clinica.procedimentos; let i = index;"
                        [attr.data.index]="i"
                        style="padding-left: 2%; margin-bottom: 2%;"
                      >
                        <div class="col-md-3">
                            - {{ procedimento.nome }} - R$ {{ procedimento.valor }}
                        </div>
                        <div class="col-md-3 pull-right">
                          <button (click)="abrirModalEdicao(procedimento, clinica, i)" class="btn btn-primary btn-fill" style="margin-right: 1%;"><i class="pe-7s-pen"></i></button>
                          <button (click)="abrirModalDeletarProcedimento(clinica, i)" class="btn btn-danger btn-fill"><i class="pe-7s-trash"></i></button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
