<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Adicionar Clinica</h4>
          </div>
          <div class="content">
            <form [formGroup]="clinicaGroup" (ngSubmit)="addClinica()">
              <!-- Nome da clinica -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Nome da Clínica</label>
                    <input type="text" required name="nome" placeholder="Nome da Clínica"
                    class="form-control" formControlName="name">
                  </div>
                </div>
              </div>
              <!-- CNPJ -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>CPF/CNPJ</label>
                    <input type="text" class="form-control" required placeholder="CNPJ"
                    formControlName="cnpj">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" class="form-control" required placeholder="Endereço"
                    formControlName="endereco">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Estado</label>
                    <div class="dropdown">
                      <button 
                        class="btn btn-default dropdown-toggle" 
                        type="button" 
                        id="dropdownEstados" 
                        data-toggle="dropdown" 
                        aria-haspopup="true"
                        aria-expanded="true">
                      {{estadoName == '' ? 'Selecione um Estado': estadoName}}
                      </button>
                      
                      <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownEstados" role="menu">
                        <li *ngFor="let estado of estados">
                          <a onclick="return false;" (click)="estadoSelecionado(estado)">
                          {{estado.sigla + '-' + estado.nome}}
                        </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Cidade</label>
                        <div class="dropdown">
                          <button 
                            class="btn btn-default dropdown-toggle" 
                            type="button" 
                            id="dropdownCidades" 
                            data-toggle="dropdown" 
                            aria-haspopup="true"
                            aria-expanded="true">
                          {{cidadeName == '' ? 'Selecione um Estado': cidadeName}}
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownCidades" role="menu">
                            <li *ngFor="let cidade of cidades">
                              <a onclick="return false;" (click)="cidadeSelecionada(cidade.nome)">
                              {{cidade.nome}}
                            </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                </div>
              </div>

              <!-- Senhas -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" required placeholder="Senha"
                    formControlName="password">
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Confirmar Senha</label>
                        <input type="password" class="form-control" required placeholder="Confirmar Senha"
                        formControlName="confirmPassword">
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-danger btn-fill pull-left" type="button" *ngIf="edit && clinicaActive" (click)="desativarClinica()">Desativar Clinica</button>
                  <button class="btn btn-info btn-fill pull-left" type="button" *ngIf="edit && !clinicaActive" (click)="desativarClinica()">Reativar Clinica</button>
                  <button class="btn btn-success btn-fill pull-right" type="submit" [disabled]="!clinicaGroup.valid || submitted">Cadastrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>