<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title pull-left">Clientes</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <div style="margin: 5%">
              <ngx-spinner bdColor="rgba(0,0,0,0.0)" size="medium" color="#3498db" type="ball-clip-rotate"></ngx-spinner>
            </div>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12">
                  <table class="table table-hover table-stripped">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Estado</th>
                          <th>Cidade</th>
                          <th>Data de Nascimento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cliente of clientes">
                          <td>{{cliente.nome}}</td>
                          <td>{{cliente.estado}}</td>
                          <td>{{cliente.cidade}}</td>
                          <td>{{cliente.data_nascimento}}</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>